.pjs{
    width : 333px;
    height : auto;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    
}

.borderGreen{
    border: 2px solid lightgreen;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8);
  }