.job-card
{
    width: 482px;
    height: auto;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .firstBox{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .firstBoxDetails{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                display: inline;
            }
        }
    }
    .secondBox{
        border: 2px solid grey;
        width: 100%;
        margin: auto;
        height: auto;
        border-radius: 15px;
        padding-left: 5px;
    }

}

.borderGreen{
    border: 2px solid lightgreen;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8);
  }