.navPostedJobs{
  display: flex;
  justify-content: space-between;
  .span1{
    display: flex;
    width: 420px;
    justify-content: space-between;
    margin-top: 16px;
  }
}
  .filtersPostedJobs {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    p {
      display: flex;
      gap: 5px;
      align-items: center;
      border: 2px solid black;
      border-radius: 50px;
      padding: 5px 20px;
    }
  }
  
