.main-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 51%;
  height: auto;
  background-color: #fff;
  padding: 40px;
}
.form-group {
  padding-top: 15px;
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: calc(100% - 50px);
    height: 27px;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .jobDesc {
    width: 90%;
    height: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #333;
    resize: none;
    overflow: hidden;
  }
}
.submitButton {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  width: 20%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    background-color: #45a049;
  }
}


